{% extends 'base.html' %}

{%block content %}


{%load staticfiles %}

<br><br><br>
<br>
<br><br><br>

<section id="aboutus">
	 <div class="container">
{% for aboutdescription in aboutDesc.all %}

    	<div class="text-center">
    		<h1>{{ aboutdescription.title}} </h1>
    		<hr class="bg-info col-md-8">
    	</div>
    	<div class="row shadow p-3 mb-5 bg-white rounded">
	       	<div class="col-md-8">
				<div class="media">
				  <div class="media-body">
				    <h5 class="mt-0 mb-1">{{ aboutdescription.description}}</h5>
				  </div>
				  
				</div>
	      	</div>
	      	<div class="col-md-4"> 
	      		<img class="border border-info rounded-circle" src="{{ aboutdescription.image.url}}" height="300" width="300" >

	      	</div>

	      	
    	</div>
     </div>
{% endfor %}
</section>


<section>
	<div class="container">


	    	<div class="text-center">
	    		<h1>Our Team </h1>
	    		<hr class="bg-info col-md-8">
	    	</div>


	    	<div class="row shadow p-3 mb-5 bg-white rounded">

{% for team in teaminfo.all %}
		       	<div class="col-md-6 ">
				    <div class="well well-sm">
		                <div class="media">


		                    <a class="thumbnail pull-left" href="#">

		                        <img class="border border-info rounded-circle"  src="{{ team.profilePic.url }}" height="100" width="100">
		                        <div class="col-md-1"></div>
		                    </a>
		                    <div class="media-body">
		                        <h4 class="media-heading"><span class="label label-info">{{ team.firstName }}  <span> {{ team.lastName }} </span>  </h4>
               
		                		<p><span class="label label-info"></span> <span class="label label-warning">{{ team.designation }}</span></p>
		                        <p>
		                        	<button  class=" btn ">
							         <a class=" bg-dark btn btn-outline-info" href="{{team.linkedInLink}}">
							         LinkedIn  </a> </button>
							         <button  class=" btn ">
							         <a class=" bg-dark btn btn-outline-info" href="{{team.facebookLink}}">
							         Facebook  </a> </button>
		                            <button  class=" btn ">
							         <a class=" bg-dark btn btn-outline-info" href="{{team.twitterLink}}">
							         Twitter  </a> </button>
		                            
		                            </p>

		                    </div>
		                </div>
		            </div>
		            <hr class="bg-info col-md-6">
       			 </div>
{% endfor %} 
       			 <div class="col-md-6 ">
				   
       			 </div>
       			

       			

		      	
	    	</div>
	    	




</section>


<section>
	

<div class="container">
	    	<div class="text-center">
	    		<h1>Our Services</h1>
	    		<hr class="bg-info col-md-8">
	    	</div>
	    	<div class="row shadow p-3 mb-5 bg-white rounded">
		       	<div class="col-md-6 ">
					    	
{% for service in services.all %}
		       		<ul class="list-group list-group-flush">

						  <li class="list-group-item text-center"> {{ service.serviceName }}</li>
						
			
					</ul>
{% endfor %}		
				</div>

       			 <div class="col-md-6 ">
				     <h3 class="text-center">Contact Us</h3>
				      <hr class="bg-info col-md-8">
				      
				      
				      <form method="POST"  action="{% url 'contact' %}">
				      	{% csrf_token %}
				      	<div class="form-group">
				    <label for="Password">Name:</label>
				    <input type="text" class="form-control btn-outline-info" name="name" id="name" aria-describedby="emailHelp" placeholder="Enter Name">
				  
				  </div>
				        

				        <div class="form-group">
				        
				    <label for="email">Email: </label>
				    <input type="email" class="form-control btn-outline-info" id="email" name="email" aria-describedby="emailHelp" placeholder="Enter Email Please">
				  
				  </div>
				   <div class="form-group">
				        
				    <label for="email">Subject: </label>
				    <input type="text" class="form-control btn-outline-info" id="email" name="subject" aria-describedby="emailHelp" placeholder="Enter Email Please">
				  
				  </div>
				  
				   <div class="form-group">
				    <label for="Password">Mobile:</label>
				    <input type="text" class="form-control btn-outline-info" name='mobile' id="name" aria-describedby="emailHelp" placeholder="Enter Name">
				  
				  </div>
				  <div class="form-group">
				    <label for="Password">Message: </label>
				    <textarea name="message" class="form-control border-info" >
				    	
				    </textarea>
				   
				  </div>

				    <div class="form-group">
				    
				    <input type="submit" class="btn btn-outline-info bg-dark" id="password" aria-describedby="emailHelp" value="Submit" >
				   <!--Add buttons to initiate auth sequence and sign out--> <br>


				  </div>
				      </form>
				    
       			 </div>
       			

       			
</div>
</div>




</section>

{% endblock %}
