@font-face {
    font-family: "BRUSHSCI";
    src: url("../fonts/BRUSHSCI.ttf");
}

#Bar 
{
	position: relative;
	background-color:rgba(0, 122, 255, 1)!important;
	color: rgba(255,255,255,2);
	border-bottom: 1px solid #0053A6;
	width: 100%;
	height: 90px;
	opacity: 0.6;
	padding-top: 15px;
}
body
{
	margin: 0px;
	padding: 0px;
}
center.logo
{
	font-size: 60px;
	font-family: "BRUSHSCI";
	color: inherit;
	font-weight:900;
}


.sidenav 
{
	display: inline;
	height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 100; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    font-weight: bolder;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

/* Position and style the close button (top left corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 30px;
}

#home {
    padding-top:80px;
    padding-bottom:200px;
    color:#fff;
}
.head-main {
    font-size:70px ;
    font-weight:700;
    font-family: "Helvetica";
 }
.col-md-12
{
 	position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.text-center 
{
    text-align:center;
}
.head-sub-main 
{
    font-size:20px ;
    font-weight:400;
    padding:5px 20px 10px 20px;
    font-family: "Helvetica";
}
head-last 
{
    font-size:20px ;
    font-weight:300;
    padding:5px 20px 20px 20px;
    font-family: "Helvetica";
}
h1
{
	font-size: 40px;
	font-family: "Helvetica";
}
.btn
{
	height: 40px;
	color: #fff;
	border-color: violet;
	width: 145px;
	background-color: purple;
    cursor: pointer;
    cursor: hand;
}
.btn:hover,
.btn:focus,
.btn:active,
.btn.active,
.open .dropdown-toggle.btn {
  color: #fff;
  background-color: #d2322d;
  border-color: yellow;
}
